.navibar {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: start;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}